"*":
  Zen:
    gutter: true
    minimap: true
    tabs: "multiple"
    width: 100
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "git-plus"
      "merge-conflicts"
      "git-diff"
    ]
    themes: [
      "seti-ui"
      "Chromodynamics"
    ]
  "custom-title":
    template: "<%= relativeFilePath %>"
  editor:
    backUpBeforeSaving: true
    fontSize: 15
    invisibles: {}
    preferredLineLength: 79
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "dcb9a7ea-5f45-fbd8-6105-536f4e63d77e"
  "highlight-selected":
    ignoreCase: true
  linter:
    showErrorPanel: false
  "linter-flake8":
    executablePath: "C:\\Python27\\Scripts\\flake8.exe"
    pep8ErrorsToWarnings: true
  "merge-conflicts":
    gitPath: "\"C:\\Program Files (x86)\\Git\\bin\\git.exe\""
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "seti-ui":
    themeColor: "Steel"
  "split-diff":
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
".console.python.text":
  editor:
    preferredLineLength: 79
    tabLength: 4
".diff.source":
  editor:
    preferredLineLength: 79
    tabLength: 4
".python.regexp.source":
  editor:
    preferredLineLength: 79
".python.source":
  editor:
    preferredLineLength: 79
".python.text.traceback":
  editor:
    preferredLineLength: 79
    tabLength: 4
